@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* General CSS */

.clear{
	clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Header CSS */

#header-wrapper{
	height: 50px;
	border-bottom: 1px solid;
}

#header{
	width: 90%;
	margin: 0 auto;
}

#header .title{
	float: left;
	font-weight: bold;
	font-size: 120%;
	line-height: 50px;
}

#header .profile{
	float: right;
}

#header .picture{
	float: left;
	margin-top: 5px;
}

#header .picture img{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid;
}

#header .name{
	float: right;
	font-weight: bold;
	line-height: 50px;
	padding-left: 10px;
}

/* Main Content CSS */


.content{
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	min-height: 350px;
}

.content .content-title{
	font-weight: bold;
	font-size: 110%;
	padding: 5px 0;
}

/* Main Content CSS: Individual Task CSS */

.content .task{
	margin-top: 10px;
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
}

.task .title{
	font-weight: bold;
}

.task .description{
	padding: 10px 0; 
}

.task .keywords{
	float: left;
}

.task .keyword{
	border: 1px solid;
	margin: 0 2px;
	padding: 2px;
}

.task .keyword:first-child{
	margin-left: 0;
}

.task .points{
	float: right;
}

.task .number-points{
	font-weight: bold;
}

/* Footer CSS */

#footer{
	border-top: 1px solid;
	padding-top: 5px;
	text-align: center;
}